#main-nav .social{
    display: none;
}
#main-nav .container{
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
#main-nav ul,
#main-nav .logo{
    justify-self: center;
}
#main-nav ul li a{
    padding: 0.5rem;
}
#map .map{
    display:block;
    width: 80vw;
    height: 60vh;
    margin-left: 3rem;
 }
 #contact{
    margin: 0;
    padding: 0;
}
#contact .contact-form{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 1rem;
}
#contact img{
    display: none;
}
#contact .contact-form .contact-heading{
    background-color: white;
    text-align: center;
    display: grid;
}
#main-footer .footer-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
}
#main-footer .footer-container div:last-child{
    display: grid;
    grid-column: 1/ span 2;
    text-align: center;
    border-color: #444;
}
#about .page-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 0;
    grid-gap: 1rem;
}
#about .page-container article:first-child{
    grid-column: 1;
}